# C/C++编译产物
*.o
*.obj
*.exe
*.out
*.so
*.dll
*.dylib
*.a
*.lib
*.d

# CLion CMake构建目录
cmake-build-*/
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# CLion本地配置
.idea/
*.iml
*.iws
*.ipr

# 临时、日志
*.log
*.tmp
*.bak

# 系统文件
.DS_Store
Thumbs.db

tags
cscope.out
